/* ------------------------------------------------------*/
/* ---------->>> everything gets imported! <<<-----------*/
/* ------------------------------------------------------*/
/* ============================ RESET ============================ */
/* ===== Eric Meyer Reset ===== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.33;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ===== CUSTOM RESET ===== */
object {
  outline: none;
  display: block;
  overflow: hidden;
}
/* force redraw on IE8, fix outline/scroll bug on Firefox 3.6, remove unnecessary margin (copied from swffit)  */
textarea {
  overflow: auto;
}
/* fix IE */
iframe {
  border: 0;
}
/* fix line-height [https://gist.github.com/413930] */
sup,
sub {
  line-height: 0;
  font-size: .75em;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ============================ /RESET ============================ */
/* -----------------------------------------------------*/
/* --------------->>> variables.less <<<----------------*/
/* -----------------------------------------------------*/
.deming-stack {
  font-family: 'DemingEPRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
}
.vevey-stack {
  font-family: 'VeveyRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
}
/* brown */
/* red */
/*color:rgba(204,188,143,1);*/
/*color:rgba(178,164,125,1);*/
/* -----------------------------------------------------*/
/* ------------->>> /end variables.less <<<-------------*/
/* -----------------------------------------------------*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  /* type stuff */
  /**/
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.618em;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* 
   super simple CF from the very end of here: 
   http://css-tricks.com/snippets/css/clear-fix/ — only works in IE8+, 
   so not so super back compatible — but we're looking to the future! 
*/
.clearfix::after,
.group::after,
.row::after {
  content: "";
  display: table;
  clear: both;
}
.text-center,
.center-text {
  text-align: center;
}
.text-left,
.left-align-text {
  text-align: left;
}
.text-right,
.right-align-text {
  text-align: right;
}
/* columnar stuff */
.container {
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;
  width: 100%;
}
.column,
.columns {
  margin: 0 0 2rem 0;
  padding: 0;
}
.group,
.row {
  margin: 0 0 2rem 0;
}
.one,
.two,
.three,
.four,
.five,
.six,
.halfwidth,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.fullwidth {
  width: calc(100%);
}
/** still need to flesh this out **/
.visible-sm {
  display: block;
  visibility: visible;
}
.visible-lg {
  display: none;
  visibility: hidden;
}
@media (min-width: 30rem) {
  .container {
    margin: 0 auto;
    padding-bottom: 2rem;
    min-width: 30rem;
    width: 80%;
  }
}
@media (min-width: 50rem) {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .clear,
  .clearBoth {
    display: block;
    clear: both;
  }
  .clearLeft {
    display: block;
    clear: left;
  }
  .clearRight {
    display: block;
    clear: right;
  }
  .container {
    margin: 0 auto;
    padding-bottom: 2rem;
    max-width: 75rem;
  }
  /* columnar stuff */
  .column,
  .columns {
    float: left;
    margin: 0 0 2rem 0;
    padding: 0 1rem;
  }
  .group,
  .row {
    margin: 0 -1rem 2rem -1rem;
  }
  /* default 12 column grid */
  /* 
     too add or remove, simply add the additional columns, 
     and then replace "12" in all the calculations below with whatever 
     number of columns you wish to use. 5, 8, 16, 101, whatever. 
     We're working on a clever-er way to make this work.
     You'll need to add classes up above too if you make more columns.
  */
  .one {
    width: calc(8.33333333%);
  }
  .two {
    width: calc(16.66666667%);
  }
  .three {
    width: calc(25%);
  }
  .four {
    width: calc(33.33333333%);
  }
  .five {
    width: calc(41.66666667%);
  }
  .six,
  .halfwidth {
    width: calc(50%);
  }
  .seven {
    width: calc(58.33333333%);
  }
  .eight {
    width: calc(66.66666667%);
  }
  .nine {
    width: calc(75%);
  }
  .ten {
    width: calc(83.33333333%);
  }
  .eleven {
    width: calc(91.66666667%);
  }
  .twelve,
  .fullwidth {
    width: calc(100%);
  }
  /* some standard offsets */
  .offset-by-one {
    margin-left: calc(8.33333333%);
  }
  .offset-by-two {
    margin-left: calc(16.66666667%);
  }
  .offset-by-three {
    margin-left: calc(25%);
  }
  .offset-by-four {
    margin-left: calc(33.33333333%);
  }
  .offset-by-five {
    margin-left: calc(41.66666667%);
  }
  .offset-by-six,
  .offset-by-half {
    margin-left: calc(50%);
  }
  .offset-by-seven {
    margin-left: calc(58.33333333%);
  }
  .offset-by-eight {
    margin-left: calc(66.66666667%);
  }
  .offset-by-nine {
    margin-left: calc(75%);
  }
  .offset-by-ten {
    margin-left: calc(83.33333333%);
  }
  .offset-by-eleven {
    margin-left: calc(91.66666667%);
  }
  .offset-by-twelve {
    margin-left: calc(100%);
  }
  .visible-lg {
    display: block;
    visibility: visible;
  }
  .visible-sm {
    display: none;
    visibility: hidden;
  }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 100% so that all the REM measurements throughout this doc are
are based on 16px sizing. So basically 1rem = 16px :) — should a better solution be devised? */
html {
  font-size: 100%;
}
body {
  font-size: 1em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.618em;
  font-weight: 400;
  /* do I want a better, wider ranging font-stack? */
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-rendering: optimizeLegibility;
}
/* Base Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: bold;
  line-height: normal;
}
h1 {
  font-size: 3.0rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.0rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.33rem;
}
/* Larger than phablet */
/* these aren't currently being changed... though perhaps they need to be */
@media (min-width: 30rem) {
  h1 {
    font-size: 3.0rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.0rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.33rem;
  }
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
small,
.small {
  font-size: .9rem;
}
img {
  max-width: 100%;
}
/* Centering in the unknown */
/* from http://css-tricks.com/centering-in-the-unknown/
  ---------------------------------------------------------*/
/* This parent can be any width and height */
.block {
  text-align: center;
}
/* The ghost, nudged to maintain perfect centering */
.block::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
/* The element to be centered, can
   also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}
/* List control stuff */
ol,
ul {
  margin-bottom: 1em;
}
ol {
  list-style: decimal;
}
ul {
  list-style: initial;
}
ol li,
ul li {
  line-height: 1.618em;
}
/** Some basic table styling **/
table {
  border-top: 2px solid;
  border-bottom: 2px solid;
}
table thead {
  text-align: left;
  border-bottom: 2px solid;
}
table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.075);
}
table tr th,
table tr td {
  padding: .4em;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
table tr th:last-child,
table tr td:last-child {
  border-right: none;
}
/* ----------------------------------------------------*/
/* --------------->>> fontface.less <<<----------------*/
/* ----------------------------------------------------*/
/* @font-face declarations */
@font-face {
  font-family: 'DemingEPRegular';
  src: url('ff/deming_ep-webfont.eot');
  src: url('ff/deming_ep-webfont.eot?#iefix') format('embedded-opentype'), url('ff/deming_ep-webfont.woff') format('woff'), url('ff/deming_ep-webfont.ttf') format('truetype'), url('ff/deming_ep-webfont.svg#DemingEPRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VeveyRegular';
  src: url('ff/vevey-webfont.eot');
  src: url('ff/vevey-webfont.eot?#iefix') format('embedded-opentype'), url('ff/vevey-webfont.woff') format('woff'), url('ff/vevey-webfont.ttf') format('truetype'), url('ff/vevey-webfont.svg#VeveyRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ----------------------------------------------------*/
/* ------------->>> /end fontface.less <<<-------------*/
/* ----------------------------------------------------*/
/* -----------------------------------------------------*/
/* ------------------->>> bbg.less <<<-------------------*/
/* -----------------------------------------------------*/
/* Custom Bar Guild Styles
========================================================================================= */
body {
  background: url(bbg-bg.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem 0;
}
footer {
  margin-top: 90px;
}
/* Typograhy, etc.
====================================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
table {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  color: #693b3e;
}
/* topbar with sitename and links */
header {
  background: black;
  height: 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
header h1 {
  color: white;
  font-family: 'VeveyRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.66rem;
  letter-spacing: 1px;
  line-height: 2rem;
  text-decoration: none;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
header nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  display: block;
  color: #eee6d9;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}
header nav ul li a:hover {
  color: white;
}
header nav ul li.active a,
header nav ul li a.active,
header nav ul li a:active {
  color: #9e514e;
}
section {
  padding-top: 3rem;
}
section > h3 {
  border-top: 2px solid;
  font-size: .9rem;
  letter-spacing: 3px;
  line-height: 1rem;
  margin: 0 0 1.5rem 0;
  padding-top: .4rem;
  text-transform: uppercase;
  font-family: 'DemingEPRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
}
#hero,
#mission {
  text-align: center;
}
#hero img,
#mission img {
  border-radius: 100%;
  border: 10px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  height: auto;
}
#hero .lead,
#mission .lead {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-top: 1rem;
  /**/
  text-shadow: 0 1px 1px #FFF;
  color: rgba(125, 116, 87, 0.9);
}
/* Events */
.event h2 {
  font-family: 'VeveyRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 2rem;
  margin-bottom: .25em;
}
.event .date,
.event .location {
  color: rgba(125, 116, 87, 0.9);
  font-weight: bold;
  text-transform: uppercase;
}
.date ul {
  text-align: center;
}
.date ul li:nth-child(2) {
  color: #9e514e;
  font-size: 150%;
}
.date ul li:nth-child(3) {
  color: #9e514e;
  font-size: 300%;
  line-height: 105%;
  margin-bottom: .33em;
}
.event .location {
  margin: 1rem 0;
  text-transform: capitalize;
}
.event .location > span {
  font-family: 'DemingEPRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 75%;
  letter-spacing: 2px;
}
.event .image img {
  width: 100%;
  max-width: 100%;
}
.event .tickets a {
  font-family: 'DemingEPRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  border: 3px solid;
  border-radius: .4em;
  display: block;
  font-size: 1.6em;
  padding: .4em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.event .tickets a:hover {
  background: rgba(158, 81, 78, 0.2);
}
/* Members list */
#members table {
  width: 100%;
}
#members table thead {
  font-family: Helvetica, Arial, Sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #FFF;
  color: rgba(125, 116, 87, 0.9);
  text-align: left;
}
table thead a {
  font-family: Helvetica, Arial, Sans-serif;
  text-shadow: 0 1px 1px #FFF;
  color: rgba(125, 116, 87, 0.9);
  text-decoration: none;
}
#members table tbody {
  border-top: 1px solid black;
}
#members table,
#members table tbody,
#members table tbody td {
  margin: 0;
  padding: 0;
}
#members table tbody td {
  padding: .4em .1em;
}
#members table tbody p,
#members table tbody ul {
  font-family: 'VeveyRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.66rem;
  line-height: 1.9rem;
}
#bbg tbody tr {
  border-bottom: 1px dotted black;
}
#bbg tbody tr:last-child {
  border-bottom: none;
}
#bbg tbody tr:nth-child(odd) {
  background: rgba(125, 116, 87, 0.1);
}
#bbg tbody tr:hover {
  background: rgba(158, 81, 78, 0.1);
}
#bbg td {
  border-spacing: 0;
  border-color: transparent;
}
/* contact */
#contact .contact-form {
  margin-left: -1%;
  margin-right: -1%;
}
/* footer */
footer p {
  color: rgba(125, 116, 87, 0.9);
}
footer .credits {
  text-align: right;
  font-size: 75%;
  opacity: .3333333;
}
footer .credits:hover {
  opacity: .75;
}
/* -----------------------------------------------------*/
/* ---------------->>> /END bbg.less <<<-----------------*/
/* -----------------------------------------------------*/
