/* ------------------------------------------------------*/
/* ---------->>> everything gets imported! <<<-----------*/
/* ------------------------------------------------------*/
/* ============================ RESET ============================ */
/* ===== Eric Meyer Reset ===== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.33;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ===== CUSTOM RESET ===== */
object {
  outline: none;
  display: block;
  overflow: hidden;
}
/* force redraw on IE8, fix outline/scroll bug on Firefox 3.6, remove unnecessary margin (copied from swffit)  */
textarea {
  overflow: auto;
}
/* fix IE */
iframe {
  border: 0;
}
/* fix line-height [https://gist.github.com/413930] */
sup,
sub {
  line-height: 0;
  font-size: .75em;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ============================ /RESET ============================ */
/* -----------------------------------------------------*/
/* --------------->>> variables.less <<<----------------*/
/* -----------------------------------------------------*/
.deming-stack {
  font-family: 'DemingEPRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
}
.vevey-stack {
  font-family: 'VeveyRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
}
/* brown */
/* red */
/*color:rgba(204,188,143,1);*/
/*color:rgba(178,164,125,1);*/
/* Color Palette */
/** From OOKB (as part of my personal vernacular, being used everywhere :) **/
/* -----------------------------------------------------*/
/* ------------->>> /end variables.less <<<-------------*/
/* -----------------------------------------------------*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  /* type stuff */
  /**/
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.618em;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
/*
   super simple CF from the very end of here:
   http://css-tricks.com/snippets/css/clear-fix/ — only works in IE8+,
   so not so super back compatible — but we're looking to the future!
*/
.add-clearfix,
.clearfix::after,
.group::after,
.inner::after,
.row::after {
  content: "";
  display: table;
  clear: both;
}
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.text-center,
.center-text {
  text-align: center;
}
.text-left,
.left-align-text {
  text-align: left;
}
.text-right,
.right-align-text {
  text-align: right;
}
/* columnar stuff */
.container {
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;
  width: 100%;
}
.column,
.columns {
  margin: 0 0 2rem 0;
  padding: 0;
}
.group,
.inner,
.row {
  margin: 0 0 2rem 0;
}
.one,
.two,
.three,
.four,
.five,
.six,
.halfwidth,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.fullwidth {
  width: calc(100%);
}
/** still need to flesh this out **/
.visible-sm {
  display: block;
  visibility: visible;
}
.visible-lg {
  display: none;
  visibility: hidden;
}
@media (min-width: 30rem) {
  .container {
    margin: 0 auto;
    padding-bottom: 2rem;
    min-width: 30rem;
    width: 80%;
  }
}
@media (min-width: 50rem) {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .clear,
  .clearBoth {
    display: block;
    clear: both;
  }
  .clearLeft {
    display: block;
    clear: left;
  }
  .clearRight {
    display: block;
    clear: right;
  }
  .container {
    margin: 0 auto;
    padding-bottom: 2rem;
    max-width: 75rem;
  }
  /* columnar stuff */
  .column,
  .columns {
    float: left;
    margin: 0 0 2rem 0;
    padding: 0 1rem;
  }
  .group,
  .inner,
  .row {
    margin: 0 -1rem 2rem -1rem;
  }
  /* default 12 column grid */
  /*
     too add or remove, simply add the additional columns,
     and then replace "12" in all the calculations below with whatever
     number of columns you wish to use. 5, 8, 16, 101, whatever.
     We're working on a clever-er way to make this work.
     You'll need to add classes up above too if you make more columns.
  */
  .one {
    width: calc(8.33333333%);
  }
  .two {
    width: calc(16.66666667%);
  }
  .three {
    width: calc(25%);
  }
  .four {
    width: calc(33.33333333%);
  }
  .five {
    width: calc(41.66666667%);
  }
  .six,
  .halfwidth {
    width: calc(50%);
  }
  .seven {
    width: calc(58.33333333%);
  }
  .eight {
    width: calc(66.66666667%);
  }
  .nine {
    width: calc(75%);
  }
  .ten {
    width: calc(83.33333333%);
  }
  .eleven {
    width: calc(91.66666667%);
  }
  .twelve,
  .fullwidth {
    width: calc(100%);
  }
  /* some standard offsets */
  .offset-by-one {
    margin-left: calc(8.33333333%);
  }
  .offset-by-two {
    margin-left: calc(16.66666667%);
  }
  .offset-by-three {
    margin-left: calc(25%);
  }
  .offset-by-four {
    margin-left: calc(33.33333333%);
  }
  .offset-by-five {
    margin-left: calc(41.66666667%);
  }
  .offset-by-six,
  .offset-by-half {
    margin-left: calc(50%);
  }
  .offset-by-seven {
    margin-left: calc(58.33333333%);
  }
  .offset-by-eight {
    margin-left: calc(66.66666667%);
  }
  .offset-by-nine {
    margin-left: calc(75%);
  }
  .offset-by-ten {
    margin-left: calc(83.33333333%);
  }
  .offset-by-eleven {
    margin-left: calc(91.66666667%);
  }
  .offset-by-twelve {
    margin-left: calc(100%);
  }
  .visible-lg {
    display: block;
    visibility: visible;
  }
  .visible-sm {
    display: none;
    visibility: hidden;
  }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 100% so that all the REM measurements throughout this doc are
are based on 16px sizing. So basically 1rem = 16px :) — should a better solution be devised? */
html {
  font-size: 100%;
}
body {
  font-size: 1em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.618em;
  font-weight: 400;
  /* do I want a better, wider ranging font-stack? */
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-rendering: optimizeLegibility;
}
/* Base Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: bold;
  line-height: normal;
}
h1 {
  font-size: 3.0rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.0rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.33rem;
}
/* Larger than phablet */
/* these aren't currently being changed... though perhaps they need to be */
@media (min-width: 30rem) {
  h1 {
    font-size: 3.0rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.0rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.33rem;
  }
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
small,
.small {
  font-size: .9rem;
}
img {
  max-width: 100%;
}
/* Centering in the unknown */
/* from http://css-tricks.com/centering-in-the-unknown/
  ---------------------------------------------------------*/
/* This parent can be any width and height */
.block {
  text-align: center;
}
/* The ghost, nudged to maintain perfect centering */
.block::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
/* The element to be centered, can
   also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}
/* List control stuff */
ol,
ul {
  margin-bottom: 1em;
}
ol {
  list-style: decimal;
}
ul {
  list-style: initial;
}
ol li,
ul li {
  line-height: 1.618em;
}
/** Some basic table styling **/
table {
  border-top: 2px solid;
  border-bottom: 2px solid;
}
table thead {
  text-align: left;
  border-bottom: 2px solid;
}
table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.075);
}
table tr th,
table tr td {
  padding: .4em;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
table tr th:last-child,
table tr td:last-child {
  border-right: none;
}
/* ----------------------------------------------------*/
/* --------------->>> fontface.less <<<----------------*/
/* ----------------------------------------------------*/
/* @font-face declarations */
@font-face {
  font-family: 'DemingEPRegular';
  src: url('ff/deming_ep-webfont.eot');
  src: url('ff/deming_ep-webfont.eot?#iefix') format('embedded-opentype'), url('ff/deming_ep-webfont.woff') format('woff'), url('ff/deming_ep-webfont.ttf') format('truetype'), url('ff/deming_ep-webfont.svg#DemingEPRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VeveyRegular';
  src: url('ff/vevey-webfont.eot');
  src: url('ff/vevey-webfont.eot?#iefix') format('embedded-opentype'), url('ff/vevey-webfont.woff') format('woff'), url('ff/vevey-webfont.ttf') format('truetype'), url('ff/vevey-webfont.svg#VeveyRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ----------------------------------------------------*/
/* ------------->>> /end fontface.less <<<-------------*/
/* ----------------------------------------------------*/
/* -----------------------------------------------------*/
/* ------------------->>> bbg.less <<<-------------------*/
/* -----------------------------------------------------*/
/* Custom Bar Guild Styles
========================================================================================= */
body {
  background: url(bbg-bg.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem 0;
}
footer {
  margin-top: 90px;
}
/* Typograhy, etc.
====================================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
table {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  color: #693b3e;
}
/* topbar with sitename and links */
header {
  background: black;
  height: 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
header h1 {
  color: white;
  font-family: 'VeveyRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.66rem;
  letter-spacing: 1px;
  line-height: 2rem;
  text-decoration: none;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
header nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  display: block;
  color: #eee6d9;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}
header nav ul li a:hover {
  color: white;
}
header nav ul li.active a,
header nav ul li a.active,
header nav ul li a:active {
  color: #9e514e;
}
section {
  padding-top: 3rem;
}
section > h3 {
  border-top: 2px solid;
  font-size: .9rem;
  letter-spacing: 3px;
  line-height: 1rem;
  margin: 0 0 1.5rem 0;
  padding-top: .4rem;
  text-transform: uppercase;
  font-family: 'DemingEPRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
}
/** HERO **/
#hero,
#mission {
  text-align: center;
}
#hero img,
#mission img {
  border-radius: 100%;
  border: 5px solid white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: auto;
}
#hero .lead,
#mission .lead {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-top: 1rem;
  /**/
  text-shadow: 0 1px 1px #FFF;
  color: rgba(125, 116, 87, 0.9);
}
@media (min-width: 30rem) {
  #hero,
  #mission {
    max-width: calc(100% / 12 * 10);
    margin-right: auto;
    margin-left: auto;
  }
  #hero img,
  #mission img {
    border-width: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
  }
  #hero .lead,
  #mission .lead {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 50rem) {
  #hero,
  #mission {
    max-width: calc(100% / 12 * 8);
    margin-right: auto;
    margin-left: auto;
  }
  #hero img,
  #mission img {
    width: 400px;
  }
  #hero .lead,
  #mission .lead {
    font-size: 2rem;
    line-height: 2rem;
  }
}
/* Events */
.fb-events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fb-events .event h3 {
  font-family: 'VeveyRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 2rem;
  margin-bottom: .25em;
}
.fb-events .event .date,
.fb-events .event .location {
  color: rgba(125, 116, 87, 0.9);
  font-weight: bold;
  text-transform: uppercase;
}
.fb-events .event .date ul {
  text-align: center;
}
.fb-events .event .date ul li:nth-child(2) {
  color: #9e514e;
  font-size: 150%;
}
.fb-events .event .date ul li:nth-child(3) {
  color: #9e514e;
  font-size: 300%;
  line-height: 105%;
  margin-bottom: .33em;
}
.fb-events .event .location {
  margin: 1rem 0;
  text-transform: capitalize;
}
.fb-events .event .location > span {
  font-family: 'DemingEPRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 75%;
  letter-spacing: 2px;
}
.fb-events .event .cover img {
  width: 100%;
  max-width: 100%;
}
.fb-events .event .tickets a {
  font-family: 'DemingEPRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  border: 3px solid;
  border-radius: .4em;
  display: block;
  font-size: 1.6em;
  padding: .4em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.fb-events .event .tickets a:hover {
  background: rgba(158, 81, 78, 0.2);
}
/* Members list */
#members table {
  width: 100%;
  border: none;
  border-color: transparent;
  margin: 0;
  padding: 0;
}
#members table thead {
  font-family: Helvetica, Arial, Sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #FFF;
  color: rgba(125, 116, 87, 0.9);
  text-align: left;
}
#members table thead th {
  border-spacing: 0;
  border-color: transparent;
}
#members table thead a {
  font-family: Helvetica, Arial, Sans-serif;
  text-shadow: 0 1px 1px #FFF;
  color: rgba(125, 116, 87, 0.9);
  text-decoration: none;
}
#members table tbody {
  border-top: 1px solid black;
  margin: 0;
  padding: 0;
}
#members table tbody tr {
  border-bottom: 1px dotted black;
}
#members table tbody tr:last-child {
  border-bottom: none;
}
#members table tbody tr:nth-child(odd) {
  background: rgba(125, 116, 87, 0.1);
}
#members table tbody tr:hover {
  background: rgba(158, 81, 78, 0.1);
}
#members table tbody td {
  padding: .4em .1em;
  border-spacing: 0;
  border-color: transparent;
}
#members table tbody td p,
#members table tbody td ul {
  font-family: 'VeveyRegular', Helvetica, Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.66rem;
  line-height: 1.9rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* contact */
/* footer */
footer p {
  color: rgba(125, 116, 87, 0.9);
  border-top: 2px solid black;
  padding-top: 1em;
}
footer .credits {
  text-align: right;
  font-size: 75%;
  opacity: .3333333;
}
footer .credits:hover {
  opacity: .75;
}
/* -----------------------------------------------------*/
/* ---------------->>> /END bbg.less <<<-----------------*/
/* -----------------------------------------------------*/
/**
  This is compiled from best practices and interesting ideas via the following:
    - https://css-tricks.com/tips-for-creating-great-web-forms/
    - https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/Styling_HTML_forms
    - http://b2cloud.com.au/tutorial/css-tips-and-tricks-for-styling-forms/
    - https://css-tricks.com/display-form/
    - http://kaylarose.github.io/Glowform/
    - http://purecss.io/forms/
    - http://foundation.zurb.com/docs/components/forms.html
    - http://getbootstrap.com/css/#forms
**/
/* styling those forms */
form input,
fieldset input,
form button,
fieldset button,
form select,
fieldset select,
form textarea,
fieldset textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
}
form .message #form-url,
fieldset .message #form-url {
  display: none;
}
#contact form input,
#contact form button,
#contact form select,
#contact form textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: .25em;
}
form .group .group {
  margin: 0;
}
form .column,
form .columns {
  margin-bottom: 0;
}
.contact-details.vcard {
  margin-bottom: 1.5em;
}
@media (min-width: 50em) {
  #contact .inner::after {
    content: "";
    display: table;
    clear: both;
  }
  #contact form,
  .contact-details.vcard {
    float: left;
    padding: 0 1em;
  }
  #contact form {
    width: 66.66666666667%;
  }
  .contact-details.vcard {
    float: left;
    width: 33.3333333333%;
  }
}
/**
    Started with basic form stuff from Skeleton
    and then have evolved it with stuff from GridForms and Bootstrap
    Bam!
**/
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="phone"],
input[type="subject"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea,
select {
  height: 2em;
  padding: 0.5em 0.75em;
  background-color: white;
  border: 1px solid #848478;
  border-radius: .25em;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="phone"],
input[type="subject"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 4rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
input:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="phone"],
input[type="subject"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea:focus,
select:focus {
  border: 1px solid #ae8ba4;
  outline-color: #ae8ba4;
}
/* help with :focus pseudo-class & outline:
    - https://developer.mozilla.org/en-US/docs/Web/CSS/outline
    - https://developer.mozilla.org/en-US/docs/Web/CSS/outline-style
    - http://reference.sitepoint.com/css/pseudoclass-focus
    - https://css-tricks.com/almanac/selectors/f/focus/
*/
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
fieldset {
  padding: 1em;
  border: 1px solid #606767;
  margin-top: 1em;
  margin-bottom: 1em;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}
/* Help Text */
.help-block {
  display: block;
  margin: .5em 0 1em 0;
  font-size: .8em;
  color: #848478;
}
/*
  Checkboxes and Radio buttons
*/
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 0.5ex;
  padding: 1px;
  cursor: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
}
/**
  laying out the form a bit better,
  should do this by maybe adding column classes?
  this will have to work for now.
**/
.input-group {
  display: inline-table;
  vertical-align: middle;
  position: relative;
  width: 100%;
}
.input-group > * {
  width: auto;
  display: table-cell;
}
.input-group .form-control:first-child,
.input-group .input-group-addon:first-child,
.input-group .input-group-btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .form-control:last-child,
.input-group .input-group-addon:last-child,
.input-group .input-group-btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group .form-control:not(:first-child):not(:last-child),
.input-group .input-group-addon:not(:first-child):not(:last-child),
.input-group .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group .input-group-addon {
  padding: 0.5em 0.75em;
  font-size: inherit;
  line-height: 0;
  color: #848478;
  text-align: center;
  background-color: #ebf1e9;
  border: 1px solid #848478;
  border-radius: 4px;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group .input-group-addon:first-child {
  border-right: 0;
}
.input-group .input-group-addon:last-child {
  border-left: 0;
}
/**
  Success, warning, error, failure, etc.
**/
.has-success .form-control,
.has-warning .form-control,
.has-error .form-control {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success .form-control-feedback,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
  color: #8ca573;
  outline-color: #8ca573;
}
.has-success .form-control {
  border-color: #8ca573;
  outline-color: #8ca573;
  background: #f7f9f5;
}
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline,
.has-warning .form-control-feedback,
.has-warning.checkbox label,
.has-warning.checkbox-inline label,
.has-warning.radio label,
.has-warning.radio-inline label {
  color: #c5c065;
  outline-color: #c5c065;
}
.has-warning .form-control {
  border-color: #c5c065;
  outline-color: #c5c065;
  background: #fdfdf9;
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .form-control-feedback,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: #9e514e;
  outline-color: #9e514e;
}
.has-error .form-control {
  border-color: #9e514e;
  outline-color: #9e514e;
  background: #efdede;
}
/* switch glyphicons to fontawesome */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-remove::before {
  content: "\f00d";
}
.glyphicon-ok::before {
  content: "\f00c";
}
.glyphicon-warning-sign::before {
  content: "\f071";
}
/** some other tweaks? */
/*
  Nice logins:
  https://bank.simple.com/signin
  https://www.paypal.com/signin/?country.x=US&locale.x=en_US
  https://thenounproject.com/accounts/login/
  https://icloud.com/
*/
.form-group {
  position: relative;
}
.form-control-feedback {
  position: absolute;
  right: -1em;
  top: .25em;
}
[for="url-355711833"] {
  display: none !important;
}
.form-group {
  margin: 0;
}
@media (min-width: 768px) {
  #contact form button[type="submit"] {
    margin: 0 1em;
    margin-left: calc(25%);
    width: calc(75%);
    float: left;
  }
  [class*='col-'] {
    margin: 0;
    padding: 0;
    float: left;
  }
  .col-sm-3 {
    width: calc(25%);
  }
  .col-sm-9 {
    width: calc(75%);
  }
}
