/* -----------------------------------------------------*/
/* ------------------->>> bbg.less <<<-------------------*/
/* -----------------------------------------------------*/

/* Custom Bar Guild Styles
========================================================================================= */
body {
  background: url(bbg-bg.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem 0;
}

footer {
  margin-top: 90px;
}

/* Typograhy, etc.
====================================================================== */

h1, h2, h3, h4, h5, h6, table {
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}

a { color: rgba(105,59,62,1); }

/* topbar with sitename and links */
header {
  background: black;
  height: 2rem;
  width:100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 9;

  h1 {
    color:white;
    .vevey-stack;
    font-size: 1.66rem;
    letter-spacing: 1px;
    line-height: 2rem;
    text-decoration: none;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

header nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: block;
  color:rgba(238,230,217,1);
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
}

header nav ul li a:hover {
  color: white;
}

header nav ul li.active a,
header nav ul li a.active,
header nav ul li a:active {
  color: @activetext;
}

section {
  padding-top: 3rem;
}

section > h3 {
  border-top: 2px solid;
  font-size: .9rem;
  letter-spacing: 3px;
  line-height: 1rem;
  margin: 0 0 1.5rem 0;
  padding-top: .4rem;
  text-transform: uppercase;
  .deming-stack;
}

/** HERO **/
#hero,
#mission {
  text-align: center;

  img {
    border-radius: 100%;
    border: 5px solid white;
    box-shadow: 0 0 7px rgba(0,0,0,.5);
    width: 250px;
    height: auto;
  }
  .lead {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-top: 1rem;
    /**/
    text-shadow: 0 1px 1px #FFF;
    color:@maintext;
  }
}

@media (min-width: 30rem) {
  #hero,
  #mission {
    max-width: ~'calc(100% / 12 * 10)';
    margin-right: auto;
    margin-left: auto;
    img {
      border-width: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,.5);
      width: 300px;
    }
    .lead {
      font-size: 1.75rem;
      line-height: 1.75rem;
    }
  }
}
@media (min-width: 50rem) {
  #hero,
  #mission {
    max-width: ~'calc(100% / 12 * 8)';
    margin-right: auto;
    margin-left: auto;
    img {
      width: 400px;
    }
    .lead {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}

/* Events */
.fb-events {
  list-style: none;
  margin: 0;
  padding: 0;

  .event {
    h3 {
      .vevey-stack;
      font-size: 2rem;
      margin-bottom: .25em;
    }
    .date,
    .location {
      color: @maintext;
      font-weight: bold;
      text-transform: uppercase;
    }

    .date {
      ul {
        text-align: center;
        li {
          &:nth-child(2) {
            color: @activetext;
            font-size: 150%;
          }
          &:nth-child(3) {
            color: @activetext;
            font-size: 300%;
            line-height: 105%;
            margin-bottom: .33em;
          }
        }
      }
    }

    .location {
      margin: 1rem 0;
      text-transform: capitalize;
      > span {
        .deming-stack;
        font-size: 75%;
        letter-spacing: 2px;
      }
    }
    .cover {
      img { width: 100%; max-width: 100%; }
    }

    .tickets a {
      .deming-stack;
      border: 3px solid;
      border-radius: .4em;
      display: block;
      font-size: 1.6em;
      padding: .4em;
      text-align: center;
      text-decoration: none;
      width: 100%;

      &:hover {
        background: rgba(158,81,78,.2);
      }
    }
  }
}

/* Members list */
#members {
  table {
    width: 100%;
    border: none;
    border-color: transparent;
    margin: 0;
    padding: 0;

    thead {
      font-family: Helvetica, Arial, Sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-shadow: 0 1px 1px #FFF;
      color:@maintext;
      text-align: left;
      th {
        border-spacing: 0;
        border-color: transparent;
      }
      a {
        font-family: Helvetica, Arial, Sans-serif;
        text-shadow: 0 1px 1px #FFF;
        color:@maintext;
        text-decoration: none;
      }
    }
    tbody {
      border-top: 1px solid black;
      margin: 0;
      padding: 0;

      tr {
        border-bottom: 1px dotted black;
        &:last-child {
          border-bottom: none;
        }
        &:nth-child(odd) {
          background: rgba(125, 116, 87, .1);
        }
        &:hover {
          background: rgba(158,81,78,.1);
        }
      }
      td {
        padding: .4em .1em;
        border-spacing: 0;
        border-color: transparent;
        p,
        ul {
          .vevey-stack;
          font-size: 1.66rem;
          line-height: 1.9rem;
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

/* contact */
// in contact.less for now

/* footer */
footer p {
  color:@maintext;
  border-top: 2px solid black;
  padding-top: 1em;
}

footer .credits {
  text-align: right;
  font-size: 75%;
  opacity: .3333333;
}

footer .credits:hover {
  opacity: .75;
}

/* -----------------------------------------------------*/
/* ---------------->>> /END bbg.less <<<-----------------*/
/* -----------------------------------------------------*/
